<div class="home">

  <section class="reserves">
    <p class="exclusive">privado</p>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet</p>
    <button class="login-buttonreserves">
      <p>Lorem ipsum dolor sit amet</p>
    </button>
  </section>

  <section class="highlights-section">
    <h2 class="section-title">POR QUE ESCOLHER-NOS</h2>

    <div class="highlights-grid">
      <div class="highlight-card large-card blue-bg">
        <div class="icon-wrapper">
          <span class="material-symbols-outlined">eco</span>
        </div>
        <div class="card-content">
            <h3>Ambiente Tranquilo</h3>
            <p>Privacidade total em meio à natureza.</p>
        </div>
      </div>

      <div class="highlight-card small-card yellow-bg">
        <span class="material-symbols-outlined">payments</span>
        <h3>Preço Justo</h3>
        <p>Valores acessíveis para sua estadia.</p>
      </div>

      <div class="highlight-card small-card orange-bg">
        <span class="material-symbols-outlined">event_available</span>
        <h3>Fácil Reserva</h3>
        <p>Reserve em segundos pelo app.</p>
      </div>
    </div>
  </section>

  <section class="availability-section">
    <div class="container">
      
      <div class="content-left">
        <span class="badge">DISPONIBILIDADE</span>
        <h2>Escolha a data ideal para sua experiência</h2>
        <p>Nosso espaço é exclusivo e limitado. Verifique abaixo os dias reservados e garanta sua estadia no Celed Prime.</p>
        
        <div class="status-legend">
          <div class="legend-item">
            <span class="dot occupied"></span>
            <span>Dias Ocupados</span>
          </div>
          <div class="legend-item">
            <span class="dot available"></span>
            <span>Disponível</span>
          </div>
        </div>
      </div>

      <div class="content-right">
        <div class="calendar-glass-card">
          <cp-reserve-calendar></cp-reserve-calendar>
        </div>
      </div>

    </div>
  </section>
 

</div>