version: '3.8'

services:
  db:
    image: postgres:16
    container_name: celed-prime-db
    environment:
      - POSTGRES_DB=celed_prime_db
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: celed-prime-redis
    ports:
      - "6379:6379"

volumes:
  pgdata: