<div class="prime-register-card">
  
  <a class="link-voltar" (click)="voltarPortal(); $event.preventDefault()">
    <span class="material-symbols-outlined">west</span>
    Voltar
  </a>

  <h1 class="titulo-bodoni">Crie sua Experiência Prime</h1>

  <form class="formulario-prime" [formGroup]="registerForm" (ngSubmit)="submitForm()">
    
    <div class="input-group">
      <input type="text" placeholder="Nome Completo" class="prime-input" formControlName="name">
      @if (registerForm.get('name')?.invalid && registerForm.get('name')?.touched) {
        <span class="erro-mensagem">
          {{ getErrorMessage ('name') }}
        </span>
      }
    </div>

    <div class="input-group">
      <input type="email" placeholder="E-mail Prime" class="prime-input" formControlName="email">
      @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
        <span class="erro-mensagem">
          {{ getErrorMessage('email') }}
        </span>
      }
    </div>

    <div class="input-group">
      <input type="tel" placeholder="Telefone (apenas números)" class="prime-input" formControlName="phone" (input)="limparTelefone()">
      @if (registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched) {
        <span class="erro-mensagem">
          {{ getErrorMessage('phone') }}
        </span>
      }
    </div>

    <div class="input-group">
      <input type="password" placeholder="Senha (mín. 6 caracteres)" class="prime-input" formControlName="password">
      @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
        <span class="erro-mensagem">
          {{ getErrorMessage('password') }}
        </span>
      }
    </div>

    <button type="submit" class="btn-prime-confirmar" [disabled]="registerForm.invalid">CRIAR CONTA</button>

    <div class="links-footer">
      <a (click)="voltarPortal()" class="link-secundario">Já possui uma conta? Entre aqui</a>
    </div>

  </form>
</div>