<header class="header-prime">
    <div class="logo-area">
        <img src="/icons/celed-prime-logo.png" alt="Celed Prime logo" class="logo-img">
        <h1 class="title">Celed Prime</h1>
    </div>

    <nav class="nav-actions">
      @if (authService.isAuthenticated()) {
        <button class="btn-icon-logout" (click)="authService.logout()" title="Sair">
          <span class="material-symbols-outlined">logout</span>
        </button>
      } @else {
        <button class="btn-login-header" [routerLink]="['/login']">ENTRAR</button>
      }
    </nav>
</header>