.calendar-card {
    max-width: 500px;
    width: 300px;
    height: auto;
    min-height: 320px;
    max-height: 400px;
    margin: 10px auto;
    border-radius: 16px;

    ::ng-deep {
        ::ng-deep {
        .special-date .mat-calendar-body-cell-content {
            background-color: var(--prime-gold) !important;
            color: white !important;
            border-radius: 50% !important;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto; 
        }
        }

        .mat-calendar{
            font-family: 'Bodoni Moda', serif;
            height: auto !important;
            min-height: 360px;
        }

        .mat-calendar-header {
            padding: 0px 8px;
            margin-top: -5px;
        }


        .mat-calendar-body-label {
            color: transparent !important;
            font-size: 0 !important;
            line-height: 0 !important;
            visibility: hidden !important;
            height: 0 !important;
            padding: 0 !important;
        }


        

        .mat-calendar-body-cell-content {
            font-size: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            width: 32px;
            height: 32px;
        }

        .mat-calendar-content {
            padding: 2px 0px;
        }

        .mat-calendar-previous-button, .mat-calendar-next-button {
            transform: scale(0.8);
        }
    }

}